blockquote {
    background-color: #ff0000;
    border-left: 10px solid #ccc;
    margin: 20px 0;
    padding: 10px 20px;
}

body{
    margin: 50%;
    padding: 30% rgb(0, 187, 250);
    border: 20% solid rgb(0, 187, 250);
}